In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import sklearn

In [6]:
#Code to load the pickled data

def loadData(x): 
    # for reading also binary mode is important 
    dbfile = open(x, 'rb')      
    db = pickle.load(dbfile) 
    #for keys in db: 
     #   print(keys, '=>', db[keys]) 
    dbfile.close()
    return db

In [13]:
pear_corr = loadData('Pearson_Correlations')
user_data = pd.read_pickle("User_data.pkl")

In [14]:
user_data

       UserID  Ratings       Date  MovieID  rating_mean  Adjusted_Ratings
0         915        5  2005-08-1        1     4.285714          0.714286
1        1333        4  2004-05-1        3     2.676000          1.324000
2         967        1  2005-01-2        4     3.625000         -2.625000
3         685        3  2005-11-3        5     4.133333         -1.133333
4        1333        3  2005-04-0        8     2.676000          0.324000
5         695        1  2005-10-1        8     3.320988         -2.320988
6        1856        5  2005-06-2        8     4.425532          0.574468
7        1983        3  2005-04-1        8     3.740741         -0.740741
8           7        5  2005-07-3        8     4.066667          0.933333
9         307        3  2005-09-2        8     3.666667         -0.666667
10        734        1  2005-08-2        8     3.285714         -2.285714
11        742        4  2005-05-1        8     3.833333          0.166667
12        840        2  2005-08-0       17     3.365854         -1.365854
13       1913        3  2005-09-1       17     3.382353         -0.382353
14        462        2  2005-09-1       17     3.042017         -1.042017
15        491        3  2005-08-0       17     3.428571         -0.428571
16        911        4  2005-10-2       17     3.080000          0.920000
17       1333        4  2004-08-1       18     2.676000          1.324000
18       1811        2  2005-02-0       18     3.252174         -1.252174
19       2000        3  2004-05-0       18     3.707819         -0.707819
20       1243        4  2005-07-1       18     3.684211          0.315789
21       1146        3  2005-07-1       18     3.360000         -0.360000
22        933        4  2005-04-0       18     3.509091          0.490909
23       1871        4  2004-11-1       18     3.542484          0.457516
24       1650        5  2005-07-0       18     4.263158          0.736842
25        424        4  2005-12-0       18     3.333333          0.666667
26       1658        2  2002-12-3       24     3.060000         -1.060000
27       1333        3  2004-08-1       26     2.676000          0.324000
28       1658        4  2004-11-1       26     3.060000          0.940000
29       1333        2  2004-03-0       28     2.676000         -0.676000
...       ...      ...        ...      ...          ...               ...
16513    1534        5  2004-01-1     4488     3.860870          1.139130
16514    1481        3  2004-04-1     4488     4.125000         -1.125000
16515     840        2  2004-10-0     4490     3.365854         -1.365854
16516    1611        2  2005-10-1     4490     3.657343         -1.657343
16517      79        4  2005-11-0     4490     3.507614          0.492386
16518    1047        4  2004-10-1     4490     4.333333         -0.333333
16519     756        1  2004-10-0     4490     2.440476         -1.440476
16520     183        3  2004-12-2     4490     3.688525         -0.688525
16521     188        3  2004-09-0     4490     3.418605         -0.418605
16522    1310        3  2005-05-1     4490     3.618090         -0.618090
16523     769        2  2005-08-1     4492     3.063545         -1.063545
16524    1947        1  2004-10-0     4492     3.488636         -2.488636
16525    1409        3  2005-10-2     4492     3.560284         -0.560284
16526     188        3  2005-12-1     4492     3.418605         -0.418605
16527     769        4  2005-01-3     4493     3.063545          0.936455
16528    1507        1  2005-10-2     4493     3.011628         -2.011628
16529    1921        2  2004-12-2     4493     3.388889         -1.388889
16530    1221        3  2005-01-2     4493     3.742424         -0.742424
16531    1922        3  2005-01-1     4493     3.211268         -0.211268
16532    1658        3  2004-12-0     4493     3.060000         -0.060000
16533    1427        4  2002-08-1     4496     3.619792          0.380208
16534    1333        2  2004-03-3     4496     2.676000         -0.676000
16535     477        3  2005-05-3     4496     3.362637         -0.362637
16536    2000        4  2004-05-0     4496     3.707819          0.292181
16537     684        4  2003-09-0     4496     4.053691         -0.053691
16538     333        4  2004-06-1     4496     3.437500          0.562500
16539    1457        4  2002-08-2     4496     3.563158          0.436842
16540    1310        5  2004-11-2     4496     3.618090          1.381910
16541     906        4  2003-01-0     4497     3.574194          0.425806
16542     769        3  2005-04-2     4499     3.063545         -0.063545

[16543 rows x 6 columns]

In [68]:
#Lets consider the top K = 30 users that are similar to the user in question
K = 30

#here, userA = userID of the required user
#pear_corr = correlation dictionary between two users
#user_data = Ratings Matrix

from collections import Counter

def predict_rating(userA, K, pear_corr, user_data, movieZ):
    dict_target = {}
    for key in pear_corr:
        user_derived = int(key.split("_")[0])
        target = int(key.split("_")[-1])
        if user_derived == userA:
            dict_target[target] = pear_corr[str(userA) + "_" + str(target)]
    #print(dict_target)
    sorted_desc = Counter(dict_target)
    sorted_desc = sorted_desc.most_common()
    #here, sorted_desc is a list with (userID, correlation pair)
    sorted_desc = sorted_desc[:K]
    #print(sorted_desc)
    
    mean_rating_A = user_data[user_data["UserID"] == userA]["rating_mean"].iloc[0]
    
    final_bool = False
    
    for userB in sorted_desc:
        #print(userB)
        val = ((user_data["UserID"] == userB[0]) & (user_data["MovieID"] == movieZ)).any()
        final_bool = final_bool | val
    
    print(final_bool)

In [69]:
predict_rating(7, K, pear_corr, user_data, 8)

True